body{
    background-color: rgb(26, 25,25);
}
/*АНИМАЦИЯ СНЕГОПАДА*/
#snow{
    background-image: url("img/snow_1.png"), url("img/snow_2.png"), url("img/snow_3.png");
    z-index: 1;
    animation: snow 5s linear infinite;
}
@keyframes snow{
    0%{
        background-position: 0px 0px, 0px 0px, 0px 0px;
    }

    100%{
        background-position: 500px 750px, 150px 1500px, -175px 150px;
    }
}
/* музыкальная игрушка */
#tree{
    position: fixed;
    left: calc(50% - 50px);
    
    background-image: url("img/tree.png");
    background-size: contain;
    width: 131px;
    height: 213px;
}
#toy1{
    position: relative;
    width: 28px;
    left: 22px;
    top: 131px;
}
#toy2{
    position: relative;
    width: 25px;
    left: 25px;
    top: 47px;
}
#toy3{
    position: relative;
    width: 29px;
    left: 17px;
    top: 132px;
}
#countdown{
    position: absolute;
    left: 21%;
    top: 63%;
    color: #b0ebeb;
    font-family: 'Squada One', cursive;
    font-size: 100pt;
}
#countdown>p{
    font-size: 42pt;
    top: 62%;
}
#countdown>span{
    font-size: 50pt;
    position: relative;
    left: 0%;
    top: -76px;
}


@font-face {
    font-family: 'Mountains of Christmas';
    font-style: normal;
    src: local("Mountains of Christmas"), local("MountainsofChristmas-Regular"), url(https://fonts.gstatic.com/s/mountainsofchristmas/v8/dVGBFPwd6G44IWDbQtPewylJhLDHyIrT3I5b5eGTHmw.woff2) format("woff2");
}
#graz{
    position: absolute;
    left: 21%;
    top: 35%;
    color: #b0ebeb;
    font-family: 'Mountains of Christmas';
    user-select: none;
}
#graz>h1{
    font-size: 140pt;
}